.auth
{
    position: absolute;
    width: 102px;
    height: 56px;
    left: 285px;
    top: 150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
    

color: #ffffff;
}
.item
{
    position: absolute;
width: 700px;
height: 548px;
left: 548px;
top: 238px;

background: #2D4CEF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}
.login
{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 150px;
    top: 240px;
    
    background: #FFFFFF;
    border-radius: 10px;
}
.pass
{
    position: absolute;
width: 380px;
height: 50px;
left: 150px;
top:333px;

background: #FFFFFF;
border-radius: 10px;
}
.sign_in
{
    position: absolute;
width: 189px;
height: 50px;
left: 250px;
top: 420px;

background: #FFFFFF;
border-radius: 10px;
}
.new-post
{
    position: absolute;
width: 1720px;
height: 905px;
left: 46px;
top: 32px;

background: #2D4CEF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}
.cltr
{
position: absolute;
left: 11.67%;
right: 84.79%;
top: 8.98%;
bottom: 86.91%;

background: #ffffff;

}
.brand_name
{
    /* pigeon */

position: absolute;
width: 149px;
height: 56px;
left: 1450px;
top: 78px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 16px;

color: #FFFFFF;


}
.sms1
{
    position: absolute;
width: 637px;
height: 61px;
left: 194px;
top: 299px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.nn1
{
    position: absolute;
width: 66px;
height: 28px;
left:-100px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #E3E3E3;

}
.txt1
{
    position: absolute;
width: 578px;
height: 28px;
left: 15px;
top: 17px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.sms2
{
    position: absolute;
width: 112px;
height: 61px;
left: 195px;
top: 379px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.nn2
{
    position: absolute;
    width: 81px;
    height: 28px;
    left: -100px;
    top: 13px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #E3E3E3;
}
.txt2
{
    position: absolute;
width: 42px;
height: 28px;
left: 17px;
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.sms3
{
    position: absolute;
    width: 357px;
    height: 61px;
    left: 195px;
    top: 459px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px
}
.nn3
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: -100px;
    top: 13px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #E3E3E3;
}
.txt3
{
    position: absolute;
    width: 286px;
    height: 28px;
    left: 17px;
    top: 15px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
    
}
.sms4
{
    position: absolute;
    width: 637px;
    height: 61px;
    left: 194px;
    top: 539px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.nn4
{
    position: absolute;
    width: 66px;
    height: 28px;
    left: -100px;
    top: 13px;;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #E3E3E3;
    
}
.txt4
{
    position: absolute;
width: 578px;
height: 28px;
left: 17px;
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.sms5
{
    position: absolute;
    width: 112px;
    height: 61px;
    left: 195px;
    top: 619px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.nn5
{
    position: absolute;
    width: 81px;
    height: 28px;
    left: -100px;
    top: 13px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #E3E3E3;
}
.txt5
{
    position: absolute;
width: 42px;
height: 28px;
left: 17px;
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.sms6
{

    position: absolute;
    width: 357px;
    height: 61px;
    left: 195px;
    top: 699px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.nn6
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: -100px;
    top: 13px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #E3E3E3;
    
}
.txt6
{
    position: absolute;
width: 286px;
height: 28px;
left: 17px;
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.mest
{
    position: absolute;
width: 889px;
height: 61px;
left: 190px;
top: 821px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.send
{
    position: absolute;
width: 77px;
height: 61px;
left: 1100px;
top: 826px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}
@media screen and (max-width: 1250px) {
    .item
    {
        width: 560px;
        height: 488px;
        left: 400px;
        top: 238px;
    }
    .login
{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 200px;
    top: 220px;
}
.pass
{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 200px;
    top:303px;
}
.sign_in
{
    position: absolute;
    width: 99px;
    height: 50px;
    left: 250px;
    top: 390px;
}
.auth
{
    position: absolute;
    width: 72px;
    height: 56px;
    left: 245px;
    top: 140px;
    
}
.new-post
{
    position: absolute;
width: 1100px;
height: 905px;
left: 46px;
top: 32px;
}
.brand_name
{
    /* pigeon */

position: absolute;
width: 149px;
height: 56px;
left: 890px;
top: 78px;
}
.sms1
{
    position: absolute;
width: 637px;
height: 61px;
left: 155px;
top: 299px;
}
.nn1
{
    position: absolute;
width: 66px;
height: 28px;
left:-100px;
top: 10px;


}
.txt1
{
    position: absolute;
width: 578px;
height: 28px;
left: 15px;
top: 17px;

}
.sms2
{
    position: absolute;
width: 112px;
height: 61px;
left: 155px;
top: 379px;

}
.nn2
{
    position: absolute;
    width: 81px;
    height: 28px;
    left: -100px;
    top: 13px;

}
.txt2
{
    position: absolute;
width: 42px;
height: 28px;
left: 17px;
top: 15px;

}
.sms3
{
    position: absolute;
    width: 357px;
    height: 61px;
    left: 155px;
    top: 459px;

}
.nn3
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: -100px;
    top: 13px;

}
.txt3
{
    position: absolute;
    width: 286px;
    height: 28px;
    left: 17px;
    top: 15px;
    
}
.sms4
{
    position: absolute;
    width: 637px;
    height: 61px;
    left: 155px;
    top: 539px;

}
.nn4
{
    position: absolute;
    width: 66px;
    height: 28px;
    left: -100px;
    top: 13px;;
    

}
.txt4
{
    position: absolute;
width: 578px;
height: 28px;
left: 17px;
top: 15px;



}
.sms5
{
    position: absolute;
    width: 112px;
    height: 61px;
    left: 155px;
    top: 619px;

}
.nn5
{
    position: absolute;
    width: 81px;
    height: 28px;
    left: -100px;
    top: 13px;
}
.txt5
{
    position: absolute;
width: 42px;
height: 28px;
left: 17px;
top: 15px;

}
.sms6
{

    position: absolute;
    width: 357px;
    height: 61px;
    left: 155px;
    top: 699px;

}
.nn6
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: -100px;
    top: 13px;

    
}
.txt6
{
    position: absolute;
width: 286px;
height: 28px;
left: 17px;
top: 15px;

}
.mest
{
    position: absolute;
width: 889px;
height: 61px;
left: 80px;
top: 821px;
}
.send
{
    position: absolute;
width: 77px;
height: 61px;
left: 1000px;
top: 826px;

}
}
@media screen and (max-width: 952px) {
    .item
    {
        width: 450px;
        height: 438px;
        left: 400px;
        top: 238px;
    }
    .login
{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 130px;
    top: 190px;
}
.pass
{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 130px;
    top:270px;
}
.sign_in
{
    position: absolute;
    width: 99px;
    height: 50px;
    left: 189px;
    top: 344px;
}
.auth
{
    position: absolute;
    width: 72px;
    height: 56px;
    left: 192px;
    top: 100px;
    
}
.new-post
{
    position: absolute;
width: 800px;
height: 860px;
left: 46px;
top: 32px;
}
.brand_name
{
    /* pigeon */

position: absolute;
width: 149px;
height: 56px;
left: 635px;
top: 78px;
}
.sms1
{
    position: absolute;
width: 637px;
height: 61px;
left: 125px;
top: 299px;
}
.nn1
{
    position: absolute;
width: 66px;
height: 28px;
left:-100px;
top: 10px;


}
.txt1
{
    position: absolute;
width: 578px;
height: 28px;
left: 15px;
top: 17px;

}
.sms2
{
    position: absolute;
width: 112px;
height: 61px;
left: 125px;
top: 379px;

}
.nn2
{
    position: absolute;
    width: 81px;
    height: 28px;
    left: -100px;
    top: 13px;

}
.txt2
{
    position: absolute;
width: 42px;
height: 28px;
left: 17px;
top: 15px;

}
.sms3
{
    position: absolute;
    width: 357px;
    height: 61px;
    left: 125px;
    top: 459px;

}
.nn3
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: -100px;
    top: 13px;

}
.txt3
{
    position: absolute;
    width: 286px;
    height: 28px;
    left: 17px;
    top: 15px;
    
}
.sms4
{
    position: absolute;
    width: 637px;
    height: 61px;
    left: 125px;
    top: 539px;

}
.nn4
{
    position: absolute;
    width: 66px;
    height: 28px;
    left: -100px;
    top: 13px;;
    

}
.txt4
{
    position: absolute;
width: 578px;
height: 28px;
left: 17px;
top: 15px;



}
.sms5
{
    position: absolute;
    width: 112px;
    height: 61px;
    left: 125px;
    top: 619px;

}
.nn5
{
    position: absolute;
    width: 81px;
    height: 28px;
    left: -100px;
    top: 13px;
}
.txt5
{
    position: absolute;
width: 42px;
height: 28px;
left: 17px;
top: 15px;

}
.sms6
{

    position: absolute;
    width: 357px;
    height: 61px;
    left: 125px;
    top: 699px;

}
.nn6
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: -100px;
    top: 13px;

    
}
.txt6
{
    position: absolute;
width: 286px;
height: 28px;
left: 17px;
top: 15px;

}
.mest
{
    position: absolute;
width: 679px;
height: 61px;
left: 30px;
top: 781px;
}
.send
{
    position: absolute;
width: 67px;
height: 51px;
left: 723px;
top: 792px;

}
}
